body {
  text-align: center;
  background-color: rgb(233, 215, 207);
  margin: 50px;
}
h1 {
  font-family: "lobster", cursive;
  text-align: center;
  color: rgb(156, 33, 33);
}
p {
  /*estilo dos paragrafos*/
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: rgb(107, 31, 31);
}
a {
  /*estilo do link*/
  color: rgb(156, 1, 78);
  text-decoration: none;
}
a:hover {
  /*estilo do link quando passa o cursor por cima*/
  text-decoration: underline;
}
#Thursday-challenge {
  color: rgb(170, 96, 83);
  font-weight: bold;
  font-size: 52px;
}
#Friday-challege {
  color: rgb(185, 89, 72);
  font-weight: bold;
  font-size: 52px;
}
